                               
polkit.addRule(function(action, subject) {
  if (action.id.match("org.freedesktop.udisks2.filesystem-mount-system") && subject.isInGroup("otus")) {
    return polkit.Result.YES;
  }
});

